* {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto", serif;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.MuiAutocomplete-popupIndicator {
    transition: 0.3s all ease-in-out;
}